@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--background: #eeeeee;
	--surface: #ffffff;
	--primary: #ffcd00;
	--primary-variant: #ffa733;
	--secondary: #00d7df;
	--secondary-variant: #00b6bd;
	--error: #b00020;
	
	--on-primary: #ffffff;
	--on-surface: #333333;
	

	--display-font: 'Roboto Slab', serif;
}
body{
	font-family: sans-serif;
}
a {
	text-decoration: none;
	font-family: sans-serif;
	color: var(--on-surface);
}
button{
	cursor: pointer;
}

#shopping-list {
	min-height: 100%;
}

/*
	main header
*/

header{
	position: sticky;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	background-color: var(--surface);
	color: var(--on-surface);
	padding: .6rem 4rem;
	border-bottom: 1px solid lightgrey;
	z-index: 10;
}
.logo{
	display: flex;
	font-family: var(--display-font);
	border: none !important;
	padding: 0 !important;
}
header .logo img {
	width: 2rem;
	margin-right: 1rem;
}
@media (max-width: 1120px) {
	header {
		font-size: 90%;
	}
}

@media (max-width: 780px) {
	header {
		justify-content: center;
		padding: .6rem 1.5rem;
	}
	header h1{
		display: none;
	}
	header img {
		width: 1.5rem;
	}
}

@media (max-width: 480px) {
	header {
		padding: .6rem 1rem;
	}

}

/* 
	main navigation 
*/
.header-nav{
	display: flex;
	align-items: center;
	gap: 1rem;
}
.router-link-active{
	padding: 0.5rem 1rem;
    border: 2px solid var(--secondary-variant);
	background-color: var(--surface) ;
	border-radius: 1rem;
	outline: none;
}


.add-sample-nav{
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 10;
}

/* 
	adding crop form sections 
*/

#addingForm,
.showSection {
	background-color: var(--surface);
	padding: 1rem 4rem;
	height: max-content;
	width: 100%;
    z-index: 9;
	position: sticky;
    top: 57px;
	border-bottom: 1px solid lightgrey;
}
#sampleAddForm{
	margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

#sampleAddForm div{
	display: flex;
    flex-direction: column;
	justify-content: space-between;

}

@media (max-width: 1250px) {
	#sampleAddForm{
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(5, 1fr);
		gap: 1rem 3rem;
	}

}

@media (max-width: 1120px) {
	#addingForm {
		top: 58px;
	}
	#sampleAddForm{
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 2rem;
	}

}

@media (max-width: 780px) {
	#addingForm {
		top: 57px;
		height: max-content;
		width: 100%;
		z-index: 9;
	}
	#addingForm h2 {
		font-family: var(--display-font);
	}
	#sampleAddForm{
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width: 480px) {
	#addingForm,
	.showSection {
		padding: calc(58px + .5rem) 0 0 0;
		width: 100vw;
		height: 100vh;
		position: fixed;
		z-index: 9;
		top: 0;
	}
	#addingForm h2 {
		padding: .5rem 2rem;
	}
	#sampleAddForm{
		padding: 0 2rem 1rem 2rem;
		margin: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: calc(100% - 51px);
		gap: 0;
	}

}


/*
	order section
*/
.showSection {
	padding: 1rem 0 !important;
	display: grid;
    gap: 1rem;
}
.showSection > div{
	overflow: auto;
}
.showSection > div:first-child{
	display: flex;
	gap: 1rem;
	padding: 0 3rem;
	align-items: center;
}
.showSection > h2{
	padding:0 3rem 0 3rem;
}
.showSection > div > p{
	text-align: center;
	padding:1rem 3rem ;
}

.order-sample-list {
	display: inline-flex;
	gap: 2rem;
	padding: 0 3rem;
    margin-bottom: 1rem;
}
.samples-order-list-item {
	position: relative;
    width: max-content;
	list-style: none;
	padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
}
.samples-order-list-item button{
	appearance: none;
    border: none;
    background-color: transparent;
    position: absolute;
    right: .6rem;
	top: .6rem;
}
.chart-counter{
	background-color: var(--secondary-variant);
	border: 1px solid var(--secondary);
	color: #eeeeee;
	position: absolute;
	text-align: center;
	top: -.6rem;
	left: -.8rem;
	padding: .3rem .6rem;
	border-radius: 1rem;
	transition: .3s;
}
.btn-to-action:hover .chart-counter{
	background-color: var(--secondary);
}
.chart-counter::after{
	content: '';
	width: 100%;
	height: 100%;
}
@media (max-width: 480px) {
	.showSection {
		padding: calc(58px + 1rem) 1rem 1rem 1rem !important;
	}
	.showSection > h2{
		padding: 0 1rem;
	}
	.showSection > div{
		overflow: auto;
		height: 80vh;
	}
	.order-sample-list {
		display: grid;
		gap: 1rem;
		padding: 0;
	}
	.samples-order-list-item {
		width: auto;
		margin-right: 1rem;
	}
}

/* 
	main  
*/
main {
	display: grid;
	justify-items: center;
	width: 100%;
}
@media (max-width: 1120px) {
}

@media (max-width: 780px) {
}

/* 
	main sections 
*/

.base-section{
    overflow: hidden;
	background-color: var(--surface);
	padding: 1rem 6rem;
}

@media (max-width: 1024px) {
	.base-section{
		padding: 1rem 3rem;
	}
}

@media (max-width: 768px) {
	.base-section{
		width: 100%;
	}
}

@media (max-width: 360px) {
	.base-section{
		padding:1rem;
	}
}


.sample-list-wrapper h2{
	padding: 0 .5rem 1rem .5rem;
	font-family: var(--display-font);
}

.sample-list{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
    gap: 2rem 3rem;
    list-style: none;
}
.sample-list-item{
	max-width: 300px;
	background-color: var(--surface);
    padding: 1.5rem;
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 1rem ;
    border: 1px solid lightgray;
    border-radius: 1rem;
	position: relative;
	transition: .3s ease-out;
}

.sample-list-item div{
	z-index: 1;
}
.sample-list-item > div:first-child{
	grid-column: span 2;
	align-self: center;
}
.varietyImages{
	z-index: 0 !important;
	position: absolute;
    right: 0;
}
.varietyLabel{
	color: #00000060;
	font-size: small;
}
.sample-list-item div p:last-child{
	font-weight: 550;
	font-size: 101%;
}

.sample-list-item img{
	transition: .3s ease-out;
	z-index: 0;
	position: absolute;
}
.sample-list-item img:first-child{
	transform: rotate(45deg);
	width: 9rem;
	right: -3rem;
	top: -3rem;
}
.sample-list-item img:last-child{
    width: 4rem;
    right: 9rem;
    top: 7rem;
	filter: blur(3px);
}

.expired-date{
	color: #b00020;
}
.varietyListActions{
	grid-column: span 2;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.varietyListChartCounter{
	display: grid;
	grid-template-columns: 2fr 1fr;
	gap: .5rem;
}
.varietyListChartCounter button:first-child{
	grid-row: span 2;
}

@media (min-width: 1024px) {
	.sample-list-item:hover {
		transform: scale(1.03);
	}
	.sample-list-item:hover img:first-child{
		transform: scale(1.1) rotate(45deg);
		filter: blur(2px);
	}
	.sample-list-item:hover img:last-child{
		transform: scale(.90);
		filter: blur(0);
	}
}

@media (max-width: 1024px) {
	.sample-list-item {
		transition: none;
	}
	.sample-list {
		grid-template-columns: repeat(3, 1fr);
		gap: 2rem;
	}
}

@media (max-width: 768px) {
	.sample-list {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 360px) {
	.sample-list {
		grid-template-columns: repeat(1, 1fr);
		gap: 1.5rem;
	}
	.sample-list-item {
		gap: .5rem;
		padding: 1rem;
	}
	.sample-list-item img:last-child{
		display: none;
	}
}






.sampleListItem{
    padding: 1rem;
    display: grid;
	grid-template-columns: 1fr 1fr;
    gap: .6rem;
    border: 1px solid lightgray;
    border-radius: 1rem;
    overflow: hidden;
	position: relative;
	transition: .5s;
}

.sampleListItem img{
	position: absolute;
	width: 10rem;
	right: -4rem;
	top: -4rem;
}
/* 
	hero element  
*/

.hero-element {
	overflow: hidden;
	position: relative;
	color: var(--on-surface);
    border: 1px solid lightgray;
    border-radius: 1rem;
	padding: 10rem 4rem 4rem 4rem;   
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	gap: 2rem;
	background-size: cover;
    background-position: center;
}

.hero-element h2{
	z-index: 1;
	font-size: 3rem;
	font-family: var(--display-font);
	letter-spacing: .1rem;
}
.hero-element a{
	z-index: 1;
	justify-self: start;
	grid-column-start: 1;
}
.hero-element h2 span{
	background-color: var(--primary-variant);
	padding: 0 1rem;
}
@media (max-width: 1250px) {
	.hero-element {
		grid-template-columns: 2fr 1fr;
	}
}

@media (max-width: 1120px) {
	.hero-element h2{
		font-size: 2.5rem;
	}
}

@media (max-width: 780px) {
	.hero-element {
		padding: 6rem 2rem 3rem 2rem;
	}
	.hero-element h2{
		font-size: 2rem;
	}

}

@media (max-width: 480px) {
	.hero-element {
		padding: 5rem 2rem 2rem 2rem;
		grid-template-columns: 1fr;
		gap: 5rem;
	}
	.hero-element h2{
		font-size: 1.5rem;
		font-family: 'Roboto Slab', serif;
		letter-spacing: 0;
	}
}
/* 
	new sample sections 
*/



/*
	imputs
*/

#shopping-list input, textarea,
#shopping-list select{
	margin-top: 0.2rem;
    padding: 0.2rem;
	border: none;
    border-bottom: 2px solid #aaa;
	outline: none;
}

#shopping-list input:focus-visible,
#shopping-list select:focus-visible{
    border-bottom: 2px solid var(--secondary-variant);
	transition: .5s;
}


/*
	buttons 
*/

.btn {
	padding: 0.3rem .9rem;
    border: none;
    border: 2px solid var(--secondary-variant);
	background-color: var(--surface) ;
	border-radius: 1rem;
	outline: none;
	cursor: pointer;
    text-align: center;
}
.btn:hover{
	background-color: var(--secondary) ;
}

.btn-tab{
	background-color: var(--secondary) ;
}
.btn-to-action {
	background-color: var(--primary-variant);
	border: 2px solid var(--primary);
}
.btn-to-action:hover{
	transition: .3s;
	background-color: var(--primary);
}
.btn:disabled {
    border: 2px solid lightgray;
	background-color: transparent;
}
.btn:disabled:hover {
    background-color: whitesmoke;
}
.btn-cancel{
	border: 2px solid var(--error);
}
.btn-cancel:hover,
.btn-cancel:focus-visible{
	transition: .3s;
	background-color: #FA1E0E8f;
}
.btn-round{
	font-family: 'Cabin Sketch', 'Cinzel Decorative', cursive;
	background-color: var(--secondary);
	color: whitesmoke;
	border: none;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
}

.login {
	margin-top: 1rem;
	min-width: 25vw;
	height: 67vh;
}
.login h1 {
	font-family: var(--display-font);
	font-size: 2rem;
	padding-bottom: 2rem;
} 
.login div{
	display: flex;
	flex-direction: column;
}
.login form{
	display: grid;
	gap: 1REM;
}
@media (max-width: 1250px) {
	.login {
		min-width: 30vw;
	}
}

@media (max-width: 1120px) {
	.login {
		min-width: 40vw;
	}
}

@media (max-width: 780px) {
	.login {
		min-width: 60vw;
	}
}

@media (max-width: 480px) {
	.login {
		min-width: 80vw;
	}
}

.variety-details-wraper {
	height: 75vh;
}
.variety-details {
	display: grid;
	gap: 1rem;
}
.variety-details h1{
	padding-top: 1rem;
	font-size: 2rem;
	font-family: var(--display-font);
}

#orderCustomerTab {
	padding: 1rem 3rem;
    width: 100%;
}
#orderCustomerTab form{
	display: grid;
	gap: 2rem 4rem;
	grid-template-columns: repeat(3, 1fr);
}
#orderCustomerTab div{
	display: flex;
	flex-direction: column;
}

.order-remarks-wrapper{
	grid-row: span 2;
}
.order-remarks-wrapper textarea{
	height: 100%;
}

footer {
	width: 100%;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-top: 1px solid lightgrey;
}
/* page transition */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease-in;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
.remark{ 
	display: flex;
	justify-content: space-around;
	grid-column: 1 / span 2;
}
.remarkList {
	grid-column: 1 / span 2;
	list-style: disc;
	margin-left: 1rem;
}
.slampleList{
	position: relative;
	display: grid;
	grid-gap: 1.5rem;
}

.sampleListItem{
	position: relative;
	display: grid;
	grid-gap: .5rem;
	grid-template-columns: 1fr 2fr;
	border-left: 1.6rem solid #00AF91;
    padding: 0 0 .3rem .3rem;
}

.sampleListItem::before {
	content: url(/img/lettuce.svg);
	width:1.3rem;
	height: 1.3rem;
	position: absolute;
	right: calc(100% + .2rem);
	top: 1rem;
}
.slampleList p{
	align-self: center;
	justify-self: start;
}
.expired{
	color: red;
}
.slampleList p:first-child{
	font-size: .8rem;
	opacity: .5;
}

.varietyStock{
	grid-column: 1 / span 2;
}
.varietyListActions{
    display: flex;
	justify-content: space-evenly;
	grid-column: 1 / span 2;
}
@media (max-width: 450px) {

}

@media (max-width: 360px) {

} */